h1 {
  text-align: center;
  margin-left: 100px;
  margin-top: 20px;
}

form {
  font-size: 20px;
  margin-left: 300px;
  margin-right: 300px;


}

.input-group {
  margin-top: 28px;
}

.clientes {
  text-align: center;
}
